._container {
  margin: auto;
}

._separator {
  margin-right: 8px;
}

._company_status {
  padding-right: 16px;
}

._opportunity_status {
  margin-right: 16px;
}

._content_left_container {
  padding-left: 16px;
}

._content_right_container {
  width: 400px;
}

._last_attempt_wrapper {
  text-align: right;
}

._right_buttons > *:not(:first-of-type) {
  margin-left: 8px;
}
