._info_content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

._info_title {
  margin-bottom: 6px;
  display: flex;
}

._tooltip {
  margin-left: 4px;
}

._content_right {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
