._container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: var(--basic-shadow);
  background-color: var(--white);
}

._header {
  align-items: center;
}
._user_dropdown {
  top: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

._tabWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
}

._tabWrapper > * {
  margin: 0 40px;
}

._menuDivider {
  border-bottom: 1px solid #c5d1dd;
  width: auto;
  margin: 16px 0 4px;
}
