._container {
  background-color: var(--white);
  border: 1px solid var(--veryLightBloobirds);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(25, 145, 255, 0.09);
  width: 100%;
  height: 323px;
  display: flex;
  flex-direction: column;
}

._title__container {
  background-color: var(--lighterGray);
  height: 36px;
  box-sizing: border-box;
  padding: 11px 12px;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid var(--veryLightBloobirds);
  flex-shrink: 0;
  box-shadow: 0 1px 3px rgba(25, 145, 255, 0.09);
}

._cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  flex-grow: 1;
}

._cards__container > button {
  margin: 20px 0;
}

._actions__container {
  background-color: var(--lighterGray);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid var(--veryLightBloobirds);
  box-shadow: 0 -1px 3px rgba(25, 145, 255, 0.09);
}

._actions__container > div {
  margin-right: 4px;
}

._withoutLeads__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

._withoutLeads__container > p {
  margin: 14px 0;
}
