@value colors: "../../../../assets/stylesheets/colors.css";
@value bloobirdsSuperVeryLight, bloobirdsNatural,  bloobirdsLightest, gunmetalNatural, gunmetalLight, whiteNatural, gunmetalVeryLight from colors;

.root {
  display: flex;
  flex-direction: row;
  color: gunmetalLight;
  background-color: whiteNatural;
  border: 1px solid gunmetalVeryLight;
  border-radius: 4px;
}

.table {
  flex-grow: 1;
  width: calc(100% - 140px);
  overflow: hidden;
}

.rowIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2px;
}

.scrollingTable {
  transition: margin ease-in-out 500ms;
}

.scrollingTable > *:not(:last-child) {
  border-bottom: 1px solid gunmetalVeryLight;
}

.leftColumn {
  min-width: 105px;
  border-right: 1px solid gunmetalVeryLight;
  font-size: 12px;
}

.leftColumn > *:first-child {
  border-bottom: 1px solid gunmetalVeryLight;
}

.leftColumn > *:not:first-child {
  border-bottom: 1px solid transparent;
}

.leftColumn > * {
  padding: 0 5px;
}

.tableRow {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  line-height: 30px;
}

.headTableCell {
  font-size: 12px;
}

.tableCell {
  min-width: 85px;
  width: 100%;
  height: 32px;
  display: inline-flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.tableCellMultiple {
  min-width: 120px;
  height: 32px;
  display: inline-flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.nonWorkingDay {
  background: repeating-linear-gradient(
    53deg,
    whiteNatural,
    #edf1f5 1px,
    #edf1f5 4px,
    whiteNatural 5px,
    whiteNatural 10.4px
  );
}

.pausedDay {
  background: repeating-linear-gradient(
    53deg,
    var(--white),
    var(--verySoftBanana) 1px,
    var(--verySoftBanana) 4px,
    whiteNatural 5px,
    whiteNatural 10.4px
  );
}

.todayDay {
  color: bloobirdsNatural;
  font-weight: bold;
  position: relative;
  z-index: 0;
}

.todayDay:after {
  color: bloobirdsNatural;
  z-index: -1;
}

.taskDay {
  color: bloobirdsNatural;
  font-weight: bold;
  position: relative;
  z-index: 0;
}

.actions > *:not(:last-child) {
  border-bottom: 1px solid gunmetalVeryLight;
}

.action > svg {
  margin: auto;
}

.leftColumnSpan {
  position: relative;
  top: 3px;
  display: flex;
}
