.tableRow {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  line-height: 30px;
}

.actionsCell > span {
  text-align: center;
}

.icon {
  margin-left: 4px;
}

.icon > svg {
  cursor: pointer;
}
