._edit_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--white);
  text-align: right;
  width: 100%;
  align-items: self-start;
}

._reply__container {
  margin-left: 12px;
}

._reply__container > button {
  white-space: nowrap;
}
