@keyframes tickle {
  0.0% {
  }
  20% {
    transform: rotate(30deg) scale(0.8);
  }
  100% {
  }
}

._container {
  display: flex;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(25, 145, 255, 0.08);
  border: solid 1px var(--softGray);
  background-color: var(--white);
  padding: 12px 16px;
  margin-bottom: 12px;
  position: relative;
}

._card__container {
  margin: 10px;
}

._icon__container {
  margin-right: 20px;
}

._text__container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

._text__container > svg {
  animation: tickle 0.7s ease 0s 1 normal none;
}

._content_right {
  display: flex;
}

._buttons__container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 16px;
  background-color: var(--white);
}

._buttons__container > button {
  margin-left: 8px;
}
