._container {
  height: calc(100% - 80px);
  padding: 48px 40px;
  margin-right: 72px;
}

._wrapper {
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  border: 1px solid var(--verySoftCondition);
  padding: 32px 60px;
  margin-top: 12px;
}

._subtitle {
  display: flex;
  margin-bottom: 20px;
}

._subtitle > svg {
  margin-right: 12px;
}

._content {
  padding: 32px;
  border-radius: 4px;
  border: 1px solid var(--verySoftCondition);
  margin-bottom: 175px;
}

._description {
  margin-bottom: 24px;
}

._description > p {
  margin-bottom: 8px;
}

._section_wrapper {
  margin-top: 32px;
}

._checkbox_wrapper {
  display: flex;
}

._checkbox_wrapper > div {
  width: auto;
  background: none;
}

._checkbox_wrapper > div:hover {
  background: none;
}

._select_wrapper {
  display: flex;
  align-items: center;
  margin-left: 58px;
  width: 410px;
  justify-content: space-between;
  margin-bottom: 4px;
}

._separator {
  margin: 20px 0;
  border-top: 1px solid var(--lightPeanut);
}
