._header__container {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}

._icon__container {
  padding: 16px;
  border-radius: 45px;
  background-color: var(--verySoftMelon);
  border: 2px solid var(--softMelon);
  z-index: 1;
}

._divider {
  border-bottom: 1px solid var(--melon);
  width: 100%;
  position: absolute;
  top: 50%;
}

._content {
  margin-bottom: 35px;
}

._text__container {
  margin-bottom: 20px;
}

._list__container {
  margin-bottom: 28px;
}

._list_item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

._list_item > svg {
  margin-right: 12px;
}

._footer_button__wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
