._container {
  display: flex;
  align-items: center;
}

._basicFlexItem {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

._currentTask__container {
  composes: _basicFlexItem;
}

._currentTask__container > p {
  margin-right: 22px;
}

._paginator__container {
  composes: _basicFlexItem;
  height: 22px;
}

._paginator__text {
  text-align: center;
  width: 130px;
}

._paginator__text > p {
  line-height: 22px;
}

._actions__container {
  margin: 0 14px;
}
