@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInRight {
  animation-name: slide-in-right;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
